/*box sizing*/
* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;}

/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*typography styling*/

a {
	color: rgb(70,133,137);
	text-decoration: none;
	border-bottom: 1px dotted;
}
i {
	font-style: italic;
}
h2 {
	text-align: center;
	font-weight: 300;
	font-size: 2.618em;
	color: rgb(112,57,91);
}
p {
	color: rgb(80,80,80);
	padding: 10px 30px;
}

/*layout*/

body {
	background: #fff;
}
#wrapper {
	position: relative;
	width: 900px;
	margin: 30px auto;
}